# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# API Keys
config.py

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# gitignore
.gitignore